<body class="scroll">
 <div>
        <h2 class="center">Gracias por su compra {{user.first_name}}, ¡su orden fue generada con éxito!</h2>
        <h4 class="center">Su numero de orden es: {{orderNumber}} </h4>
        <h4 class="center">El total de su compra es: $ {{total}} </h4>
  </div>
<footer class="footerLogin">
      <p> Created by Brian Pagano | todos los derechos reservados</p>
</footer>
</body>
